footer(class="l-footer")
    .footer-info
        section(class="footer-info-item")
            h5 ITMO
            ul
                li ISU - 312234
                li Email - 312234@niuitmo.ru
        section(class="footer-info-item")
            h5 Social
            ul
                li Git - /Daninext
                li VK - /daninext
        article(class="footer-info-item")
            blockquote
                p
                    |Кошка постарается удержаться на ваших коленях, даже когда вы встаете со стула. #[br]
                    |До последней минуты она надеется, что у вас проснется совесть и вы сядете обратно.
                cite Кошкина мудрость
    p#load-info Loading time: #{serverTime} ms (server)