header(class="l-header")
    .logo
        h2(class="hd")
            a(href="/")
                .text-logo-is-hor
                    span(class="text-logo") Мой
                    .text-logo.text-logo-is-vert
                        span(style="font-style: italic") милый
                        span(style="font-style: italic") ...
                        span(style="font-style: italic") игривый
                    span(class="text-logo") котик