head
    title #{name}
    meta(charset="UTF-8")
    meta(name="keywords" content="кот, коты, котики, фото, картинки, фото с котиками")
    meta(name="description" content="Здесь вы можете увидеть много милых котов, а также разместить фото своих")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../styles/styles.css")
    link(rel="stylesheet" href="../../styles/styles-media.css")
    link(rel="stylesheet" href="../../styles/text.css")
    link(rel="stylesheet" href="../../styles/text-media.css")
    script(src="../../scripts/generateNewGallery.js")
    script(src="../../scripts/calcLoadTime.js")
    script(src="../../scripts/visualEff.js")
    script(src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/website.js")
    script(src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/supertokens.js")
    script(src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/session.js")
    script(src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-web-js/bundle/emailpassword.js")
    script(src="../../scripts/loadLogin.js")