nav(class="l-nav")
    .nav-items
        a(class="nav-item" href="/cats/page/1") Галерея
        a(class="nav-item" href="/cats/random") Случайный
        a(class="nav-item" href="/cats/statistic") Статистика
        a(class="nav-item" href="/cats/list") Мой список